p{
    color: brown;
}
h1{
    color: green;
}
button{
    background-color: blue;
    color: aquamarine;
}
.paragragh{
    color: chartreuse;
}
#h2{
    color:blueviolet;
}
*{
    margin: 19;
    padding: 20;
    color: black;
}